html {
  font-family: "Lato", "Century Gothic", sans-serif;
}

.about {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}

h3 {
  font-size: 1.5 rem;
  color: white;
}

h2 {
  margin: 0 auto;
  color: #FEFCFB;
  background-color: #1282A2;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}

li {
  padding: 10px 10px;
}

p,
label {
  font-size: 1.2rem;
}

.content {
  color: black;
  padding: 2%;
  overflow: hidden;

}

label {
  text-align: left;
  /* min-width: 100px; */
}

.card-grid {
  min-width: max-content;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-wifi,
.card-list {
  width: 60%;
  margin: 0 auto;
}

.card {
  padding: 1%;
}

.card,
.card-wifi {
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
  text-align: center;
}

.running {
  box-shadow: 2px 2px 12px 1px rgba(0, 255, 34, 0.808);
}

.off {
  box-shadow: 2px 2px 12px 1px rgba(255, 0, 0, 0.753);
}

.boot {
  box-shadow: 2px 2px 12px 1px rgba(235, 252, 0, 0.856);
}

input[type=submit],
p a,
.form-wifi a,
th a {
  border: none;
  color: #FEFCFB;
  background-color: #034078;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.mcu input {
  width: 130px;
  height: max-content;
}

a {
  text-decoration: none;
}

input[type=submit]:hover,
p a:hover {
  background-color: #1282A2;
  cursor: pointer;
}

input[type=text],
input[type=number],
select {
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-wifi {
  width: 70%;
  padding: 2%;
  margin: auto;
  text-align: left;
}

.form-wifi label,
.form-wifi input {
  display: block;
  margin: 20px 0;
}

.form-wifi input,
.form-wifi select {
  width: 100%;
}

.value {
  font-size: 1.2rem;
  color: #1282A2;
}

.file {
  padding: 1%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.upload,
.spi {
  flex: 50%;
}

.topnav {
  height: 10vh;
  position: relative;
  background: #eee;
  text-align: center;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;

}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  font-size: 1rem;

  &:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
}

.tab-slider {
  position: absolute;
  bottom: 0;
  width: 33.3%;
  height: 6px;
  background: #66B1F1;
}

.slider-wifi {
  left: 0%;
}

.slider-ota {
  left: 33.3%;
}

.slider-about {
  left: 66.66%;
}

form {
  text-align: center;
}

table {
  margin-left: 15%;
  text-align: left;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 20%;
}

th,
td {
  padding: 20px;
}

.logo {
  text-align: center;
}

img {
  padding: 15px 15px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader{
  position: absolute;
  width: 100%;
  height: 150%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #317b8d65;
}
#debuger{
  position: absolute;
  width: 100%;
  height: 150%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #317b8d65;
}
.debuging{
  position: relative;
  width: 130px;
  height: 130px;
  z-index: 9999;  
}
.loading {
  position: relative;
  width: 130px;
  height: 130px;
  z-index: 9999;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}